@import "../variables.scss";

.page{
  border: 30px solid $color-gray-bg;
  min-height: 100vh;
}

@media screen and (max-width: $desktop-screen-start) {
  .page{
    border:20px solid $color-gray-bg;
  }
}