.header {
  background: #FFFFFF; }

@media screen and (max-width: 840px) {
  .header {
    height: 50px; } }

.logo {
  margin-top: 15px;
  margin-left: auto;
  margin-right: 71px; }
  .logo__image {
    width: 161px;
    height: 63px;
    margin-left: -5px;
    margin-top: -1px; }

@media screen and (max-width: 840px) {
  .logo {
    margin-left: 6px;
    margin-top: 9px;
    margin-right: 0; }
    .logo__image {
      width: 188px;
      height: 46px; } }

@keyframes slider {
  50% {
    background-image: url("../images/darkman.png"); } }

.main-screen {
  min-height: calc(100vh - 240px);
  display: flex; }
  .main-screen:before {
    content: '';
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 32.5%;
    animation: slider 5s infinite; }
  .main-screen__wrapper {
    width: 67.5%;
    background: #FFD200;
    padding-bottom: 182px; }
  .main-screen__contents {
    padding-left: 70px;
    padding-right: 70px;
    margin-right: 60px;
    margin-left: 50px; }
  .main-screen__title {
    font-family: "InputMono", Helvetica, Arial, sans-serif;
    font-size: 36px;
    color: black;
    letter-spacing: 3.6px;
    line-height: 46px;
    margin-top: 65px;
    margin-bottom: 62px;
    position: relative; }
    .main-screen__title:before {
      content: '/';
      position: absolute;
      left: -51px; }
  .main-screen__text {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #434343;
    letter-spacing: 0.0145ch;
    line-height: 20px;
    margin-bottom: 30px; }
  .main-screen__links {
    display: flex;
    justify-content: space-between;
    margin-top: 4px; }
  .main-screen__link {
    flex-basis: 100%;
    color: #393939;
    background: transparent;
    font-family: "InputMono", Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-align: center;
    line-height: 22px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    border: 2px solid black;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out; }
    .main-screen__link:hover {
      background: white;
      color: black; }
    .main-screen__link:first-child {
      margin-right: 14px; }
    .main-screen__link--black {
      color: white;
      background: black; }
      .main-screen__link--black:hover {
        background: white;
        color: black; }

@media screen and (min-width: 1670px) {
  .main-screen__contents {
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0; }
  .main-screen__title {
    margin-top: 90px;
    margin-bottom: 80px;
    margin-left: -155px; }
  .main-screen__text {
    margin-bottom: 20px; }
  .main-screen__links {
    margin-top: 35px; } }

@media screen and (max-width: 840px) {
  .main-screen:before {
    content: none;
    display: none; }
  .main-screen__wrapper {
    margin-left: 0;
    width: 100%; }
  .main-screen__title {
    margin-top: 51px;
    font-size: 24px;
    letter-spacing: 3.6px;
    line-height: 32px;
    margin-bottom: 42px; }
  .main-screen__contents {
    padding-left: 70px;
    padding-right: 70px; }
  .main-screen__text {
    margin-bottom: 33px;
    letter-spacing: 0.06ch; }
  .main-screen__links {
    flex-direction: column; }
  .main-screen__link:first-child {
    margin-right: 0;
    margin-bottom: 10px; } }

@media screen and (max-width: 600px) {
  .main-screen__contents {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0;
    margin-left: 0; }
  .main-screen__title:before {
    content: ''; } }

.messages-dropdown {
  display: none;
  position: absolute;
  top: 61px;
  right: 0;
  width: 250px;
  background: white;
  border-radius: 0 0 5px 5px;
  z-index: 10;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3); }
  .messages-dropdown__all-messages {
    font-family: "InputMono", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #212121;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    height: 43px;
    padding-left: 16px;
    padding-right: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between; }

@media screen and (max-width: 1279px) {
  .messages-dropdown {
    top: 51px; } }

@media screen and (max-width: 839px) {
  .messages-dropdown {
    top: 42px; } }

@media screen and (max-width: 400px) {
  .messages-dropdown {
    position: absolute;
    left: 20px;
    right: 20px;
    width: calc(100vw - 40px);
    top: 120px; } }

.navigation {
  display: flex; }
  .navigation__list {
    margin-left: 59px;
    margin-top: 41px; }
  .navigation__link {
    text-transform: uppercase;
    font-family: "InputMono", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: black;
    letter-spacing: 0.145ch;
    display: inline-block;
    margin-right: 37.5px;
    margin-bottom: 5px;
    transition: color 0.3s ease-in-out; }
    .navigation__link:last-child {
      margin-right: 0; }
    .navigation__link:hover, .navigation__link:focus, .navigation__link:active {
      color: #FFD200; }
    .navigation__link:focus {
      outline: none; }
  .navigation__toggle-button {
    display: none; }

@media screen and (max-width: 840px) {
  .navigation {
    position: relative; }
    .navigation__toggle-button {
      display: block;
      cursor: pointer;
      width: 24px;
      height: 18px;
      margin-right: 10px;
      margin-top: 13px; }
      .navigation__toggle-button:hover #hamburger .hamburger__rect, .navigation__toggle-buttonfocus #hamburger .hamburger__rect, .navigation__toggle-button:active #hamburger .hamburger__rect {
        fill: #FFD200;
        transition: fill 0.3s ease-in-out; }
    .navigation__list {
      display: none; }
    .navigation__list--open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 59px;
      left: -5px;
      width: 100%;
      margin-left: 5px;
      padding-left: 5px;
      background: white;
      z-index: 10;
      padding-top: 20px; }
      .navigation__list--open .navigation__link {
        margin-bottom: 20px; } }

.notification {
  height: 70px;
  border-bottom: 1px solid #DFDFDF;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px; }
  .notification:hover {
    background: #F5F5F5;
    cursor: pointer; }
    .notification:hover .notification__text:after {
      background: linear-gradient(90deg, rgba(245, 245, 245, 0) 0, #F5F5F5 55px); }
  .notification__time {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    color: #707070;
    letter-spacing: 0;
    margin-bottom: 14px;
    line-height: 11px; }
  .notification__text {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #212121;
    letter-spacing: 0;
    line-height: 14px;
    position: relative;
    max-height: 14px;
    overflow: hidden;
    white-space: nowrap; }
    .notification__text:after {
      content: '';
      width: 55px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, white 55px); }
  .notification__user {
    width: 40px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #707070;
    letter-spacing: 0;
    margin-right: 7px; }
    .notification__user .user__image {
      border-radius: 50%; }
  .notification--message {
    display: flex;
    padding-left: 5px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 5px; }
    .notification--message .notification__user {
      height: auto;
      width: auto; }
  .notification__identification {
    display: flex;
    justify-content: space-between; }

@media screen and (max-width: 400px) {
  .notification__wrapper {
    flex-grow: 1; } }

.notifications-dropdown {
  display: none;
  position: absolute;
  top: 61px;
  right: 0;
  width: 250px;
  background: white;
  border-radius: 0 0 5px 5px;
  z-index: 10;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3); }
  .notifications-dropdown__all-notifications {
    font-family: "InputMono", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #212121;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    height: 43px;
    padding-left: 16px;
    padding-right: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .notifications-dropdown__all-notifications:hover {
      background: #F5F5F5; }

@media screen and (max-width: 1279px) {
  .notifications-dropdown {
    top: 51px; } }

@media screen and (max-width: 839px) {
  .notifications-dropdown {
    top: 42px; } }

@media screen and (max-width: 400px) {
  .notifications-dropdown {
    position: absolute;
    left: 20px;
    right: 20px;
    width: calc(100vw - 40px);
    top: 120px; } }

.page {
  border: 30px solid #F5F5F5;
  height: 100vh;
  overflow-y: scroll; }

@media screen and (max-width: 840px) {
  .page {
    border: 20px solid #F5F5F5; } }

.range {
  width: 185px;
  height: 2px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
  position: relative;
  background: #F0F0F0; }
  .range__selected {
    border-radius: 2px;
    height: 2px;
    position: absolute;
    background: #FFD200;
    width: 45%; }
  .range__handle {
    width: 12px;
    height: 12px;
    background: #FFD200;
    border-radius: 50%;
    position: absolute;
    right: -6px;
    top: 50%;
    margin-top: -6px; }

.reviews {
  border-bottom: 1px solid #EAEAEA;
  padding: 16px 13px 13px 11px; }
  .reviews__review {
    position: relative;
    padding: 4px 27px 7px 9px;
    border-radius: 4px;
    background-color: rgba(155, 155, 155, 0);
    transition: background-color 0.3s ease-in-out; }
    .reviews__review:hover {
      background-color: rgba(155, 155, 155, 0.11); }
      .reviews__review:hover .reviews__close {
        fill: black; }
  .reviews__content {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #212121;
    line-height: 18px; }
  .reviews__close {
    position: absolute;
    top: 3px;
    right: 3px;
    fill: #A8A8A8;
    transition: fill 0.3s ease-in-out; }

.tasks-table {
  min-width: 100%; }
  .tasks-table__wrapper {
    width: 100%;
    overflow-x: scroll; }
  .tasks-table__header {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: black;
    letter-spacing: 0;
    width: 285px;
    border-left: 1px solid #E1E1E1;
    line-height: 40px;
    padding-left: 28px;
    padding-right: 22px;
    text-align: left; }
  .tasks-table__question-icon {
    fill: #A8A8A8;
    float: right;
    margin: 11px 0; }
  .tasks-table__column {
    padding-left: 28px;
    padding-right: 15px;
    border-left: 1px solid #E1E1E1;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: black;
    line-height: 60px;
    height: 60px;
    position: relative;
    min-width: 285px; }
    .tasks-table__column--id {
      text-decoration: underline; }
    .tasks-table__column:hover {
      cursor: pointer; }
      .tasks-table__column:hover .tasks-table__comment-button--active .tasks-table__comment-icon {
        fill: #FFD200; }
      .tasks-table__column:hover .tasks-table__comment-icon {
        visibility: visible;
        fill: black; }
  .tasks-table__comment-button {
    position: relative;
    width: 36px;
    height: 36px;
    background: #FFF6CC;
    border-radius: 50%;
    visibility: hidden;
    padding-top: 4px;
    float: right;
    margin: 12px 0; }
    .tasks-table__comment-button--commented {
      visibility: visible;
      background: transparent; }
      .tasks-table__comment-button--commented:hover {
        background: #FFF6CC; }
    .tasks-table__comment-button:hover {
      cursor: pointer;
      visibility: visible; }
      .tasks-table__comment-button:hover .tasks-table__comment-icon {
        fill: #FFD200; }
    .tasks-table__comment-button--active {
      background-color: transparent; }
      .tasks-table__comment-button--active .tasks-table__comment-icon {
        visibility: visible;
        fill: #FFD200; }
  .tasks-table__add-comment-hint {
    background: #757575;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    letter-spacing: 0.4px;
    text-align: center;
    line-height: 16px;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    min-width: 130px;
    position: absolute;
    left: 50%;
    right: 0;
    bottom: -30px;
    transform: translateX(-50%);
    z-index: 20; }
  .tasks-table__row {
    height: 60px;
    border-bottom: 1px solid white; }
    .tasks-table__row:nth-child(odd) {
      background: #F6F6F6; }
    .tasks-table__row--full, .tasks-table__row--full:nth-child(odd) {
      background: #EBF6FF; }
  .tasks-table__comment-icon {
    visibility: hidden; }
  .tasks-table__added-comment-icon {
    fill: #FFD200; }
  .tasks-table__tooltip {
    right: -111px;
    top: 50%;
    margin-top: 28px; }
  .tasks-table__tooltip-input {
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #212121; }
    .tasks-table__tooltip-input::placeholder {
      color: #9B9B9B; }
  .tasks-table__rating {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #212121;
    letter-spacing: 0;
    display: inline-block;
    vertical-align: middle; }
  .tasks-table__progress {
    height: 4px;
    width: 100px;
    background: #E8E8E8;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; }
    .tasks-table__progress--done {
      background: #9B9B9B;
      position: absolute;
      border-radius: 2px;
      height: 4px; }
    .tasks-table__progress--full {
      background: #FFD200; }
  .tasks-table__rate-button {
    width: 40px;
    height: 60px;
    margin-right: -15px;
    position: relative;
    float: right;
    cursor: pointer; }
    .tasks-table__rate-button:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      border-color: black transparent transparent;
      border-width: 5px 5px 0;
      border-style: solid;
      left: 50%;
      top: 50%;
      margin-left: -14px; }
  .tasks-table__rating-tooltip {
    height: 60px;
    left: 50%;
    right: auto;
    margin-left: -144px; }
  .tasks-table__start-rating {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #CCCCCC;
    line-height: 16px;
    display: inline-block;
    margin-left: 22px;
    vertical-align: middle;
    margin-right: 20px; }
  .tasks-table__input-rating {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #434343;
    border-bottom: 2px solid #212121;
    width: 26px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 19px;
    text-align: center; }
  .tasks-table__no-rated-text {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: rgba(155, 155, 155, 0.5);
    display: inline-block; }
  .tasks-table__save-button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #FFD200;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    right: 27px;
    bottom: 33px;
    z-index: 10;
    cursor: pointer; }
    .tasks-table__save-button svg {
      fill: white; }

@media screen and (max-width: 1280px) {
  .tasks-table__header {
    width: 225px; }
    .tasks-table__header:first-child {
      width: 280px; } }

@media screen and (max-width: 840px) {
  .tasks-table__header {
    width: 175px;
    padding-left: 8px; } }

.time {
  margin-left: 65px; }
  .time__hours-text {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: white;
    letter-spacing: 0;
    margin-bottom: 10px; }
  .time__line {
    border-radius: 2px;
    width: 112px;
    height: 4px;
    position: relative;
    background: #505050; }
    .time__line--past {
      width: 29px;
      height: 4px;
      border-radius: 2px;
      background: #D8D8D8;
      position: absolute; }
  .time__text {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0;
    margin-top: 10px; }
  .time__triangle {
    display: none; }

@media screen and (max-width: 1280px) {
  time {
    margin-left: 48px; } }

@media screen and (max-width: 840px) {
  .time {
    margin-left: 10px;
    position: relative; }
    .time:hover .time__text {
      position: absolute;
      display: block;
      background: white;
      border-radius: 10px;
      color: black;
      font-size: 11px;
      letter-spacing: 0;
      top: 40px;
      left: 0;
      padding: 17px;
      margin-top: -10px;
      min-width: 147px;
      z-index: 20; }
    .time__hours-text {
      font-family: "Roboto", sans-serif;
      font-size: 11px;
      color: rgba(255, 255, 255, 0.5);
      letter-spacing: 0;
      margin-bottom: 0; }
    .time__line {
      display: inline-flex;
      width: 58px; }
      .time__line--past {
        width: 29px; }
    .time__text {
      display: none; }
    .time__triangle {
      display: inline-flex;
      fill: #7F7F7F;
      position: absolute;
      left: 100%;
      top: 10px; } }

.toolbar {
  height: 80px;
  background: #212121;
  display: flex;
  align-items: center; }
  .toolbar__icons {
    margin-left: auto;
    display: flex;
    align-items: center; }
  .toolbar__icon-wrapper {
    background: #333333;
    border-radius: 50%;
    padding: 10px;
    margin-right: 25px;
    flex: 0 0 42px;
    height: 42px;
    width: 42px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.3s background ease-in-out; }
    .toolbar__icon-wrapper:last-child {
      margin-right: 17px; }
    .toolbar__icon-wrapper--notification {
      position: relative; }
      .toolbar__icon-wrapper--notification:hover .notifications-dropdown {
        display: block; }
      .toolbar__icon-wrapper--notification:hover:before {
        content: '';
        position: absolute;
        background: transparent;
        height: 40px;
        top: 30px;
        left: -30px;
        right: 0; }
    .toolbar__icon-wrapper--messages {
      position: relative; }
      .toolbar__icon-wrapper--messages:hover .messages-dropdown {
        display: block; }
      .toolbar__icon-wrapper--messages:hover:before {
        content: '';
        position: absolute;
        background: transparent;
        height: 40px;
        top: 30px;
        left: -30px;
        right: 0; }
    .toolbar__icon-wrapper:hover {
      background: #535353; }
      .toolbar__icon-wrapper:hover .toolbar__icon {
        fill: #F5F5F5; }
    .toolbar__icon-wrapper:active {
      background: white; }
      .toolbar__icon-wrapper:active .toolbar__icon {
        fill: #212121; }
        .toolbar__icon-wrapper:active .toolbar__icon--notification {
          fill: #FFD200; }
  .toolbar__icon {
    fill: #8B8B8B;
    transition: fill 0.3s ease-in-out; }
    .toolbar__icon--notification {
      fill: #FFD200; }
  .toolbar__notifications-count {
    font-family: "Roboto", sans-serif;
    font-size: 8px;
    color: #434343;
    letter-spacing: 0;
    text-align: center;
    position: absolute;
    margin-top: 1px; }

@media screen and (max-width: 1279px) {
  .toolbar {
    height: 60px; }
    .toolbar__icon-wrapper {
      padding: 0; } }

@media screen and (max-width: 839px) {
  .toolbar {
    height: 50px; }
    .toolbar__icon-wrapper {
      width: 35px;
      height: 35px;
      background: transparent;
      flex: 0 0 35px;
      margin-right: 0; } }

@media screen and (max-width: 400px) {
  .toolbar__icon-wrapper {
    position: static !important; }
    .toolbar__icon-wrapper:last-child {
      margin-right: 10px; }
    .toolbar__icon-wrapper--notification:hover:before {
      height: 50px;
      top: 80px;
      background: transparent;
      left: 300px;
      right: 60px; }
    .toolbar__icon-wrapper--messages:hover:before {
      height: 50px;
      top: 80px;
      background: transparent;
      left: 265px;
      right: 100px; } }

.tooltip {
  width: 288px;
  background: white;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 10;
  border-radius: 6px; }
  .tooltip:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    border-color: transparent transparent white;
    border-width: 0 10px 10px;
    border-style: solid;
    left: 50%;
    top: -10px;
    margin-left: -10px; }

.user {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 0;
  margin-right: 41px;
  margin-bottom: 10px; }
  .user__image {
    border-radius: 50%; }
  .user__name {
    font-family: "InputMono", Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #393939;
    letter-spacing: 0.145ch;
    text-align: center;
    margin-top: 2px; }

@media screen and (max-width: 840px) {
  .user {
    margin-right: 23px;
    margin-top: 5px;
    margin-left: auto; }
    .user__image {
      border-radius: 10px;
      width: 41px;
      height: 41px; }
    .user__name {
      display: none; } }

@font-face {
  font-family: 'InputMono';
  font-weight: normal;
  src: url("../../dist/fonts/InputMono-Regular.woff") format("woff"); }

@font-face {
  font-family: 'InputMono';
  font-weight: bold;
  src: url("../../dist/fonts/InputMono-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  src: url("../../dist/fonts/roboto-bold-webfont.woff2") format("woff2"), url("../../dist/fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../../dist/fonts/roboto-regular-webfont.woff2") format("woff2"), url("../../dist/fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
